:root {
    --body-light : rgba(231, 228, 228, 0.26);
    --body-dark : hsl(240, 20%, 1%);

    --card-light : hsl(236, 33%, 92%);
    --card-dark : hsl(240, 2%, 20%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

body {
    font-size: 30px;
    background: var(--body-light);
    overflow: auto;
    font-family: 'Big Shoulders Display', cursive;
}

.nightBody {
    background-color: var(--body-dark);
}


.header {
    background: url(assets/bg-desktop-light.jpg) repeat-x;
    height: 40vh;
}

.nightMode {
    background: url(assets/bg-desktop-dark.jpg) repeat-x;
    height: 40vh;
}

.content {
    background-color: var(--card-dark) !important;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    padding: 20px;
}

.todo-top{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.todoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.input-section {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

button {
    height: 20px;
    width: 20px;
    border: 2px solid hsl(0, 8%, 61%);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
}

.input {
    width: 100%;
    font-size: inherit;
    height: 50px;
    padding: 15px 15px 15px 45px;
    border-radius: 10px;
    border: none;
    background-color: var(--card-light);
}

.todos {
    margin-top: -50px;
}

.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--card-light);
    padding: 30px 10px;
    border-bottom: 1px solid gray;
    line-height: 24px;
}

.hidden {
    display: none;
}

.todo-item:hover {
    background-color: #eee;
}

.todo-item:hover * .delete {
    background-image: url(assets/icon-cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.todo-text {
    padding-right: 5px;
    margin-right: 5px;
}

.checkbox {
    -webkit-appearance: none;
    border: 2px solid hsl(0, 8%, 61%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox:checked {
    background: url(assets/icon-check.svg), linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox:checked ~ .task .todo-text {
    text-decoration: line-through;
    color: red;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.clear {
    cursor: pointer;
}

input[type="radio"]{
    opacity: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    color: rgba(121, 118, 118, 0.699);
    background-color: var(--card-light);
}

label input[type="radio"]:checked ~ span {
    color: blue;
}

.count:hover, label > span:hover, .clear:hover {
    color: #000;
    cursor: pointer;
}

footer.props {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(247, 52, 247);
    position: sticky;
    bottom: 0;
}

.small-talk, .contact-me {
    max-width: 100%;
    padding: 10px;
}

.name {
    font-weight: 800;
    text-transform: uppercase;
}

.contact-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 10px;
}

a {
    color: white;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: -50px auto 0;
    }

    .todo-top {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .todos {
        width: 100%;
    }

    .footer {
        font-size: inherit;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .count, .filters, .clear {
        display: flex;
        align-items: center;
    }

    .count > span {
        margin-right: 5px;
    }

    .filters {
        margin-right: 15px;
    }

    label input[type="radio"]:checked ~ span {
        color: blue;
    }
    
    .count:hover, label > span:hover, .clear:hover {
        color: #000;
        cursor: pointer;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .todo-top {
        width: 65%;
    }

    .container {
        margin: -100px auto 0;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .todo-top {
        width: 65%;
    }

    .container {
        margin: 45px auto 0;
        width: 70%;
    }
}